<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: white;">
    <header>
        <%- include('../navbar/navcss'); %> 
        <%- include('../navbar/navjs'); %> 
        <%- include('../navbar/navbaar'); %> 
    </header>
     <section>
    <br>
    <br>
    <br>
<h1>This is a test page with nothing useful inserted, click on our log to go back to the beginning</h1>
<br>
<br>
<iframe style="width: 100%;" src="https://giphy.com/embed/3htkfUBTmXXaEgbQM2" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cbs-3htkfUBTmXXaEgbQM2">via GIPHY</a></p>
<br>
<br>
</section>
<footer class="rodape">
<%- include('../navbar/footer') %> 
</footer>
</body>
</html>


