

<div class="container">
  <div class="row">
    <div class="col">
      
<div class="card" style="width: 18rem;">
  <img src="https://images.pexels.com/photos/3153201/pexels-photo-3153201.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="lua">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/views/posts/post_dois.ejs" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col">

      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/2451646/pexels-photo-2451646.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="lua">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="http://localhost:3000/post" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
        </div>
    <div class="col">
      
<div class="card" style="width: 18rem;">
  <img src="https://images.pexels.com/photos/3719037/pexels-photo-3719037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="lua">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="/views/posts/post.ejs" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
</div>