

<div class="container">
  <div class="row">
    <div class="col">
      
<div class="card" style="width: 18rem;">
  <img src="https://images.pexels.com/photos/3153201/pexels-photo-3153201.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="lua">
  <div class="card-body">
    <h5 class="card-title">Sustainable marketing why</h5>
    <p class="card-text">Sustainable marketing works because it promotes the core values that your business and your stakeholders actually value .</p>
    <a href="/views/posts/post_dois.ejs" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
    <div class="col">

      <div class="card" style="width: 18rem;">
        <img src="https://images.pexels.com/photos/11645008/pexels-photo-11645008.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="card-img-top" alt="lua">
        <div class="card-body">
          <h5 class="card-title">Renewable Energy</h5>
          <p class="card-text"> Generating energy that produces no greenhouse gas emissions from fossil fuels and reduces some types of air pollution.</p>
          <a href="http://localhost:3000/post" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
        </div>
    <div class="col">
      
<div class="card" style="width: 18rem;">
  <img src="https://images.pexels.com/photos/3719037/pexels-photo-3719037.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="card-img-top" alt="lua">
  <div class="card-body">
    <h5 class="card-title">Sustainable Branding</h5>
    <p class="card-text">If you don't get on people's "radar" opportunities, you'll miss out on sustainability how to increase market share..</p>
    <a href="/views/posts/post.ejs" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
    </div>
  </div>
</div>