<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    <h1>Hello Word!!</h1>
    <br>
    </header>
    <section>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis beatae repudiandae quibusdam quod aliquid possimus, ullam at facilis tempora adipisci cupiditate distinctio ratione odio optio, fugiat consequatur voluptate nam! Minus.
            Vel molestias ad alias dignissimos, et hic ratione accusamus neque veritatis saepe doloremque. Beatae deserunt aut ullam neque, quos iste sequi sint, doloremque corporis velit, pariatur dicta recusandae. Omnis, autem.
            Tempora quisquam cupiditate illum id aut nam quod ad vel doloribus distinctio aliquid quia, dolorem, ducimus aperiam amet velit iusto delectus ipsam assumenda soluta. Error a dolorum doloribus recusandae? Harum!
            Libero ea ullam voluptatibus. Dolores, vel recusandae explicabo excepturi quas nam! Obcaecati aspernatur alias fugiat! Sequi repellendus at quod, dicta vero esse aliquam voluptatem inventore odit dolore ipsam, officiis adipisci!
            Expedita, facere at recusandae modi libero dolores, error assumenda sequi facilis ipsa, vel ullam unde quidem! Doloremque est vero at ab alias dicta! Praesentium aliquid architecto, at debitis recusandae repudiandae.
            Voluptatum porro animi alias omnis eos tenetur sed, molestiae sapiente provident ab ducimus nesciunt reiciendis similique dignissimos aut dolor eius aliquid minus dolores id suscipit illo. Praesentium perferendis corrupti architecto.
        </p>
    </section>
    <section>
        <img src="https://c.tenor.com/g5MlexyoBZsAAAAC/im-full-of-so-much-gratitude-right-now-grateful.gif" alt="grateful">
    </section>
    <section>
        <pre>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quas vel dolor esse! Quis cupiditate dolore quas, quibusdam quisquam praesentium, ratione quam libero maxime veniam in nisi? Aspernatur, quaerat iure.
            Voluptatibus cumque a quam consectetur quae sapiente perferendis voluptate, provident, vel alias, quo minima quasi recusandae sequi aperiam optio eaque eligendi culpa voluptatem aliquid eveniet doloribus. Pariatur, totam. Facere, officiis.
            Cum, maiores, exercitationem molestias molestiae magnam dolorum blanditiis, laudantium consequuntur illo qui eaque iste? Et voluptate consequatur autem numquam blanditiis in delectus aspernatur ullam nesciunt, eius cumque iusto totam nemo.
            Molestiae, ad odio adipisci alias, necessitatibus quos accusamus, amet veritatis aliquam voluptas laborum vitae quas sit optio dolore nam porro est ipsum voluptate quod voluptatem totam asperiores. Esse, ab molestiae?
        </pre>
    </section>
   <footer>
       <p>&copy;made in america for Bruno Oliveira</p>
   </footer>


</body>
</html>